a#landbot .icon-wpb-atm {
    background: url(http://vinylcalc.logicsbuffer.com/wp-content/plugins/js_composer/assets/vc/vc-element-icons/element-icon-icon.svg);
}
div#TB_ajaxContent {
    width: 100% !important;
    display: block;
    padding: 0px 0px;
    margin: 0px 0px;
}
div#TB_window {
    width: 530px !important;
}
.row {
    padding-left: 18px;
}
.lb_input_hide {
    visibility: hidden;
}
span#lb_picture_1 {
    background-image: url(http://vinylcalc.logicsbuffer.com/wp-content/uploads/2017/04/about-us-headshot-1.jpg);
    display: inline-block;
    background-size: cover;
}
span.lb_img_label {
    display: block;
    text-align: center;
}
.cont_main_bot {
    padding: 0 20px;
}
.main_codetype .col-sm-3 {
    display: inline-block;
    width: 24%;
	text-align: center;
}
.display_icon_parent {
    width: 77px;
    height: 77px;
	display: inline-block;
}
.more_option {
    padding: 14px 19px;
    border-top: 2px solid #48484814;
    display: block;
    height: 22px;
}
.more_option input {
    display: inline-block;
    float: right;
}
.more_op_label {
    display: inline-block;
    float: left;
}

/* Checkbox style */
.more_option input[type='checkbox'] {
  display:block;
  margin: 0 auto;
  margin-bottom: 0px;
  -webkit-appearance: button;
  border:none;
  background: url(http://www.pixelslip.be/img/check.png) no-repeat 0 0 transparent;
  background-color: #ccc;
  width: 50px;
  height: 23px;
  border-radius: 3px;
  box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
  cursor: pointer;
  position: relative;
  transition: background-color 1s;
}
.more_option input[type='checkbox'].error{
   background-color: #c63d3d;
}
.more_option input[type='checkbox']:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 80%;
  background-color: #fdfdfd;
  margin: 4%;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  
  background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );

 transition: .5s all;
}

.more_option input[type='checkbox']:checked{
  background-color: #79d122;
} 

.more_option input[type='checkbox']:checked:after {
  left: 45%;
}
.full_input input {
    width: 100%;
    padding: 4px;
    margin: 8px 0px;
}
.selected_type {
    border: 2px solid #2F82BD;
}







