h2.life_num_rword {
    text-align: center;
    font-size: 55px;
	font-family: serif;
    margin: 25px 0px;
}
.section.user_planet_icon {
    padding: 0.8em;
}
.section.description {
    padding: 0.8em;
}
.section.life_num_roman {
    padding: 0.8em;
}
.section.elm_icon span {
    background: #2184be;
}

.img_parent img {
    width: 250px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.img_parent {
    background: #2184be;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.wrap-1 {
    max-width: 1060px !important;
}
span.input-hint.img_parent p {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
span.input-hint.img_parent span {
    font-weight: 500;
}
.smart-forms .section {
    margin-bottom: 22px;
    padding: 0px 10px;
}
.section.description .input-hint {
    font-size: 16px;
}

