/* style css */

.page-wrapper
{
    position:absolute;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow-x: hidden;
}
.progress_costom
{
    border: 2px solid #f8e47c;
    height: 13px !important;
    background-color: #fff !important;
}
.progress-bar {
    background-color: #f8e47c !important;
}
.section-title-header h2
{
    font-size: 50px;
    font-family: miso;
    color: #000000;
    line-height: 1;
    margin: 45px 10px;
}
.section-title-header span
{
    text-transform: uppercase !important;
}
.section-title h2
{
    font-size: 50px;
    font-family: miso;
    color: #000;
}
.section-title p
{
    font-size: 21px;
    font-family: miso;
    color: #000;
}
label {
    color: #76b2a8 !important;
    font-family: miso !important;
    font-size: 22px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #76b2a8 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #76b2a8 !important;
    border-radius: 0px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.plus_icon
{
    font-size: 24px;
    font-family: miso;
    color: #76b2a8;
    margin-bottom: 10px;
}
.plus_icon_img
{
    margin-right: 10px;
}
.btn_togg
{
     border: 2px solid #76b2a8 !important;
    background-color: #fff !important;
    color: #76b2a8 !important;
    border-radius: 25px !important;
    padding: 10px 40px !important;
}
.btn
{
    border: 2px solid #76b2a8 !important;
    background-color: #fff !important;
    color: #76b2a8 !important;
    border-radius: 25px !important;
    padding: 10px 40px !important;
}
.btn:hover,.btn:checked
{
    border: 2px solid #ffd4d4 !important;
    background-color: #fff !important;
    color: #ffd4d4 !important;
    border-radius: 25px !important;
    padding: 10px 40px !important;
}
.btn_fil
{
    width: 100%;
    background-color: #76b2a8 !important;
    color: #fff !important;
    font-family: miso !important;
    font-size: 22px !important;
    border-radius: 50px !important;
}
.btn_fil:hover,.btn_fil:checked
{
    background-color: #ffd4d4 !important;
    color: #fff !important;
    border-radius: 50px !important;
}
.section-title-panel h2
{
    font-size: 50px;
    font-family: miso;
    color: #000;
}
.section-title-panel p
{
    font-size: 21px;
    font-family: miso;
    color: #000;
}
.panel-left
{
    background-color: #ffd4d4;
    margin-top: 50px;
    margin-bottom: 50px;
}
.panel-right
{
    border: 2px solid #76b2a8;
    padding: 50px 50px 10px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bottom-line
{
    border: 1px solid #76b2a8;
    background-color: #76b2a8;
    margin: 35px 0px;
}
.plus_icon:hover,.plus_icon:checked {
    color: #ffd4d4;
    cursor: pointer;
}
.select_dog input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.boy{background-image:url(boy_icon.png);}
.boy:hover,.boy:checked {background-image:url(boy.png);}

.girl{background-image:url(girl_icon.png);}
.girl:hover,.girl:checked {background-image:url(girl.png);}


.gender-cc{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 240px;
    height: 240px;
}
.neutered-cc{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 250px;
    height: 70px;
}
.neutered_yes{background-image:url(neutered_yes_icon.png);}
.neutered_yes:hover,.neutered_yes:checked{background-image:url(neutered_yes.png);}

.neutered_no{background-image:url(neutered_no_icon.png);}
.neutered_no:hover,.neutered_no:checked{background-image:url(neutered_no.png);}

.food-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24%;
    height: 85px;
}
.select_dog.text-center {
    display: block;
    width: 100%;
}
.food_dry {background-image:url(dry_food.png);}
.food_dry:hover,.food_dry:checked {background-image:url(dry.png);}

.food_wet {background-image:url(wet_food.png);}
.food_wet:hover,.food_wet:checked {background-image:url(wet.png);}

.food_home {background-image:url(home_made.png);}
.food_home:hover,.food_home:checked {background-image:url(home.png);}

.food_raw {background-image:url(raw_food.png);}
.food_raw:hover,.food_raw:checked {background-image:url(http://www.sfahad.com/dog/wp-content/plugins/dog_breed/css/raw_hover.png);}

.kilograms-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 29%;
    height: 187px;
}
.skinny {background-image:url(skinny.png);}
.skinny:hover,.skinny:checked {background-image:url(skinnyKG.png);}

.justright {background-image:url(justright.png);}
.justright:hover,.justright:checked {background-image:url(justrightKG.png);}

.cubby {background-image:url(cubby.png);}
.cubby:hover,.cubby:checked {background-image:url(cubbyKG.png);}

.actives-cc{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 29%;
    height: 187px
}
.woocommerce-cart .woocommerce-message {
    display: none;
}
div#total_price_show {
    display: inline-block;
}
.lazy {background-image:url(lazy.png);}
.lazy:hover,.lazy:checked {background-image:url(lazydog.png);}

.active_img {background-image:url(active.png);}
.active_img:hover,.active_img:checked {background-image:url(activedog.png);}

.hyper {background-image:url(hyper.png);}
.hyper:hover,.hyper:checked {background-image:url(hyperdog.png);}
